<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Calculo de Impuesto</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
input {
	max-width: 600px !important;
}
table th {
   text-align: center; 
}
.table td {
   text-align: center;   
}
.table {
   margin: auto;
   width: 50% !important; 
}
</style>
</head>
<body>
	<div class="container">
	<br> <br>
		<table class="table table-bordered text-center">
			<thead><td>Seleccione una opccion</td>
			</thead>	
			<tbody>
				<tr>
					<td><a class="btn btn-outline-success btn-md"
						href="/trabajador/Impuesto">Cálculo de Impuesto a la Renta</a></td>
					<td><a class="btn btn-outline-success btn-md" href="/trabajador/lista">Listado
							De Cálculos Realizados</a></td>

				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>